@model MaxFactry.Module.App.Mvc4.PresentationLayer.MaxAppUrlViewModel

<h1>App Url Management</h1>
<div>@ViewBag.Message</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Create AppUrl</legend>
        @Html.EditorFor(m => m.ServerName, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.Script, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.RedirectUrl, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.Active, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="input-group">
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCancel" class="btn btn-default">Cancel</button>
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCreate" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>        
}

@{
    var loList = Model.GetSortedListByCurrentAppId();    
if (loList.Count > 0)
{ 
    <div class="row">
        <table class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Script</th>
                    <th>RedirectUrl</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loView in loList)
                {
                    <tr>
                        <td>@Html.ActionLink("Edit", "AppUrlEdit", "MaxAppManage", new RouteValueDictionary { { "id", loView.Id } }, new Dictionary<string, object> { { "class", "btn btn-default" } })</td>
                        <td>@loView.ServerName</td>
                        <td>@loView.Script</td>
                        <td>@loView.RedirectUrl</td>
                        <td>@loView.Active</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
}   
}

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipactive').tooltip({ container: 'body' });
        });
    </script>

}